 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    .container-component,
    .container-sidebar-left,
    .container-sidebar-right {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .container-component > *,
    .container-sidebar-left > *,
    .container-sidebar-right > * {
      margin-bottom: 0;
    }
    .container-component > *:first-child,
    .container-sidebar-left > *:first-child,
    .container-sidebar-right > *:first-child {
      margin-top: 1em;
    }
    .container-component > * + *,
    .container-sidebar-left > * + *,
    .container-sidebar-right > * + * {
      margin-top: 1em;
    }
    
    .container-sidebar-left,
    .container-sidebar-right {
      flex: 0 0 auto;
      width: calc(100% - 1em);
      order: 1;
    }
    @media (min-width: 768px) {
      .container-sidebar-left,
    .container-sidebar-right {
        width: calc(25% - 1em);
        order: 0;
      }
    }
    
    .container-sidebar-left .sidebar-left:first-child {
      margin-top: 1em;
    }
    .container-sidebar-left .sidebar-left:last-child {
      margin-bottom: 1em;
    }
    
    .container-sidebar-right .sidebar-right:first-child {
      margin-top: 1em;
    }
    .container-sidebar-right .sidebar-right:last-child {
      margin-bottom: 1em;
    }
    